Adafruit-Blinka==5.13.1
adafruit-circuitpython-led-animation==2.5.5
adafruit-circuitpython-neopixel==6.0.3
adafruit-circuitpython-pypixelbuf==2.2.4
Adafruit-PlatformDetect==2.28.0
Adafruit-PureIO==1.1.8
aenum==3.0.0
appdirs==1.4.3
astroid==1.4.9
asttokens==1.1.13
attrs==21.2.0
automationhat==0.2.0
backports.functools-lru-cache==1.5
bcrypt==3.1.7
blinker==1.3
blinkt==0.1.2
buttonshim==0.0.2
Cap1xxx==0.1.3
cffi==1.14.0
chardet==2.3.0
Click==7.0
colorama==0.3.7
colorzero==1.1
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.8
cx-Freeze==5.1.1
cycler==0.10.0
Cython==0.29.24
dash==1.6.0
dash-core-components==1.5.0
dash-html-components==1.0.1
dash-renderer==1.2.0
dash-table==4.5.0
distlib==0.3.0
docutils==0.14
drumhat==0.1.0
envirophat==1.0.0
ExplorerHAT==0.4.2
filelock==3.0.12
Flask==1.1.1
Flask-Compress==1.4.0
fourletterphat==0.1.0
future==0.18.2
gevent==21.8.0
gpiozero==1.5.0
greenlet==1.1.2
idna==2.2
importlib-metadata==1.5.0
importlib-resources==1.0.2
iniconfig==1.1.1
iso8601==0.1.12
isort==4.2.5
itsdangerous==1.1.0
jedi==0.10.2
Jinja2==2.10.3
keyboard==0.13.4
keyring==10.1
keyrings.alt==1.3
kiwisolver==1.0.1
lazy-object-proxy==1.2.2
MarkupSafe==1.1.1
matplotlib==2.2.3
mcpi==0.1.1
microdotphat==0.2.1
mido==1.2.10
mote==0.0.4
motephat==0.0.2
mypy==0.470
numpy==1.15.4
numpy-ringbuffer==0.2.1
oauthlib==2.0.1
packaging==20.9
pandas==0.24.2
pantilthat==0.0.7
paramiko==2.7.1
pathlib2==2.3.5
pgzero==1.2
phatbeat==0.1.1
pianohat==0.1.0
picamera==1.13
picraft==1.0
piglow==1.2.5
pigpio==1.38
Pillow==4.0.0
playsound==1.2.2
plotly==4.2.1
pluggy==0.13.1
psutil==5.8.0
py==1.10.0
pyalsaaudio==0.9.0
pyasn1==0.1.9
PyAudio==0.2.11
pycparser==2.19
pycrypto==2.6.1
pyftdi==0.52.9
pygame==1.9.3
Pygments==2.2.0
pygobject==3.22.0
pyinotify==0.9.6
PyJWT==1.4.2
pylint==1.6.5
PyNaCl==1.3.0
pyOpenSSL==16.2.0
pyparsing==2.3.0
pyperclip==1.5.27
pyqtgraph==0.11.1
pyserial==3.2.1
PySoundCard==0.5.2
pytest==6.1.2
python-apt==1.4.3
python-dateutil==2.7.5
python-osc==1.8.0
PythonQwt==0.5.5
pytz==2018.7
pyusb==1.1.1
pyxdg==0.25
PyYAML==5.1.2
QtPy==1.9.0
rainbowhat==0.1.0
requests==2.12.4
requests-oauthlib==0.7.0
retrying==1.3.3
roman==2.0.0
rpi-ws281x==4.2.6
RPi.GPIO==0.6.5
RTIMULib==7.2.1
scandir==1.10.0
scipy==1.1.0
scrollphat==0.0.7
scrollphathd==1.2.1
SecretStorage==2.3.1
sense-emu==1.1
sense-hat==2.2.0
simplejson==3.10.0
sip==5.5.0
six==1.12.0
skywriter==0.0.7
sn3218==1.2.7
spidev==3.3
ssh-import-id==5.6
statistics==1.0.3.5
sysv-ipc==1.0.1
thonny==3.1.0
thonny-pi==1.1
toml==0.10.2
tornado==6.1
touchphat==0.0.1
twython==3.4.0
typed-ast==0.6.3
typing==3.7.4.1
unicornhathd==0.0.4
urllib3==1.19.1
virtualenv==20.0.3
websocket==0.2.1
Werkzeug==0.16.0
wrapt==1.9.0
zipp==1.1.0
zope.event==4.5.0
zope.interface==5.4.0
